{% extends '::base.html.twig' %}

{% block body %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Google Monitor</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <!-- <li><a href="{{ path('dashboard') }}">Dashboard</a></li> -->
                    <li><a href="{{ path('pages') }}">My Sites</a></li>
                    <li><a href="{{ path('page_new') }}">Add new Site</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i> {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                    <li class="divider"></li>
                    <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                </ul>
            </div>
            {% else %}
            <ul class="nav pull-right">
                <li>
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    {% block container %}{% endblock %}
</div>
<!-- /container -->
{% endblock %}
