{% extends 'SeoCoreBundle::layout.html.twig' %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/seocore/js/jquery-1.7.2.min.js') }}"></script>
<script src="{{ asset('bundles/seopage/js/highstock.js') }}"></script>
<script type="text/javascript">
    $(function () {
        $.getJSON('/app_dev.php/phrase/{{ entity.id }}/positions', function (data) {

            // Create the chart
            window.chart = new Highcharts.StockChart({
                chart:{
                    renderTo:'chart'
                },

                rangeSelector:{
                    selected:1
                },

                yAxis:{
                    reversed:true
                },

                scrollbar:{
                    enabled:false
                },

                series:[
                    {
                        name:'Position',
                        data:data
                    }
                ]
            });
        });
    });
</script>
{% endblock %}

{% block container %}
<h1 class="page-header">{{ entity.phrase }}</h1>

<div id="chart"></div>

<div class="form-actions btn-group">
    <a href="{{ path('page_show', { 'id' : entity.page.id }) }}" class="btn">
        Back
    </a>
    <a href="{{ path('phrase_delete', { 'id': entity.id }) }}" class="btn">
        Delete
    </a>
</div>
{% endblock %}