{% extends 'SeoCoreBundle::layout.html.twig' %}

{% block container %}
<h1 class="page-header">My pages</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>active?</th>
        <th>url</th>
        <th>title</th>
        <th>date added</th>
        <th>date edited</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% if entities.count > 0 %}
    {% for entity in entities %}
    <tr>
        <td>{% if(entity.isactive) %}yes{% else %}no{% endif%}</td>
        <td><a href="{{ path('page_show', { 'id': entity.id }) }}">{{ entity.url }}</a></td>
        <td>{{ entity.title }}</td>
        <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>{% if entity.updatedat %}{{ entity.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>
                <span class="btn-group">
                    <a href="{{ path('page_show', { 'id': entity.id }) }}" class="btn">show</a>
                    <a href="{{ path('page_edit', { 'id': entity.id }) }}" class="btn">edit</a>
                </span>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="6">No results</td>
    </tr>
    {% endif %}
    </tbody>
</table>

<div class="form-actions">
    <a href="{{ path('page_new') }}" class="btn">
        <i class="icon-plus"></i> Add a new page
    </a>
</div>
{% endblock %}